@model List<Syrophage.Models.Product>

<link href="~/css/site.css" rel="stylesheet" />

<style>

    .bg-half {
        background-image: url('../assets/images/home/bg-elements.jpg');
    }
</style>

<!-- End Navigation Bar-->
<!-- HOME START-->
<section class="bg-half">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="page-next-level text-white">
                            @if (Model != null && Model.Count > 0)
                            {
                                if (Model[0].Category != null)
                                {
                                    <h4 class="text-uppercase">@Model[0].Category</h4>
                                }
                                else
                                {
                                    <h4 class="text-uppercase">Products</h4>
                                }
                            }
                            else
                            {
                                <h4 class="text-uppercase">No Services Available</h4>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">


    <div class="container">
        <div class="port portfolio-masonry mt-3">
            <div class="portfolioContainer row">
                <div class="container">
                    <div class="port portfolio-masonry mt-3">
                        <div class="portfolioContainer row">
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-4 col-md-6 @product.Category.ToLower()">
                                    <div class="portfolio-box">
                                        <a class="mfp-image" href="@product.productImageUrl" title="@product.productname">
                                            <img src="@product.productImageUrl" class="" alt="member-image" style="width: 500px; height: 350px;">
                                        </a>
                                        <div class="gallary-title text-center">
                                            <h6><a href="work-single.html">@product.productname</a></h6>
                                            <span class="text-muted">@product.Category</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
