@model List<Syrophage.Models.Product>

<link href="~/css/site.css" rel="stylesheet" />


    <section class="bg-half">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="page-next-level text-white">
                                <h4 class="text-uppercase">Three Colomn Work</h4>
                                <div class="page-next"> <a href="index-2.html">Home</a><i class="mdi mdi-chevron-right"></i> &nbsp;<a href="#">About</a> <i class="mdi mdi-chevron-right"></i> &nbsp;<a href="#">Work</a> <i class="mdi mdi-chevron-right"></i> &nbsp;<span>Three Colomn Work</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- HOME END-->
    <!-- WORK START -->
    <section class="section">


        <div class="container">
            <div class="port portfolio-masonry mt-3">
                <div class="portfolioContainer row">
                   

                    <div class="container">
                        <div class="port portfolio-masonry mt-3">
                            <div class="portfolioContainer row">
                                @foreach (var product in Model)
                                {
                                    <div class="col-lg-4 col-md-6 @product.Category.ToLower()">
                                        <div class="portfolio-box">
                                            <a class="mfp-image" href="@product.productImageUrl" title="@product.productname">
                                                <img src="@product.productImageUrl" class="" alt="member-image" style="width: 500px; height: 350px;">
                                            </a>
                                            <div class="gallary-title text-center">
                                                <h6><a href="work-single.html">@product.productname</a></h6>
                                                <span class="text-muted">@product.Category</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
