@model Tuple<List<Syrophage.Models.Quatation_details_fix>, List<Syrophage.Models.Admin>>



@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <title>Admin Dashboard</title>
    <!-- Include necessary CSS libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.min.css" rel="stylesheet" />
    <link href="~/admin/assets/libs/jquery-steps/steps.css" rel="stylesheet" />
    <link href="~/admin/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet" />

    <style>
        .step-navigation {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .step-item {
            flex: 1;
            text-align: center;
            font-weight: bold;
            color: #aaa;
            cursor: pointer;
        }

            .step-item.active {
                color: #333;
                text-decoration: underline;
            }
    </style>
</head>
<body>


    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin5"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">
        <!-- Your navbar and sidebar code here -->
        <partial name="AdminNavbar" />




        <partial name="AdminSidebar" />
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <!-- Page breadcrumb code here -->
            </div>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body wizard-content">
                        <h4 class="card-title">New Qotation For Client</h4>
                        <!-- Navigation bar for steps -->
                        <div class="step-navigation">
                            <div id="step-item-1" class="step-item active" onclick="goToStep(1)">Quotation By</div>
                            <div id="step-item-2" class="step-item" onclick="goToStep(2)">About And Requirement Section</div>
                            <div id="step-item-3" class="step-item" onclick="goToStep(3)">Charges</div>
                            <div id="step-item-4" class="step-item" onclick="goToStep(4)">Terms And Conditions</div>
                        </div>




                        <form id="form-step-1" class="mt-5">
                            <div class="row">
                                <!-- Column for admin data -->
                                <div class="col-md-6">
                                    <h3>Quotation By</h3>

                                    <label for="quotationBy">Company Name</label>
                                    <input id="quotationBy" name="quotationBy" type="text" class="form-control" value="@Model.Item1[0].Cname" readonly />

                                    <label for="preparedBy">Prepared By</label>
                                    <input id="preparedBy" name="preparedBy" type="text" class="form-control" value="@Model.Item2[0].Name" readonly />

                                    <label for="role">Role</label>
                                    <input id="role" name="role" type="text" class="form-control" value="Marketing Head" readonly />

                                    <label for="contact">Contact</label>
                                    <input id="contact" name="contact" type="number" class="form-control" value="@Model.Item2[0].Contact" readonly />

                                    <label for="email">Email</label>
                                    <input id="email" name="email" type="email" class="form-control" value="@Model.Item2[0].Email" readonly />
                                </div>

                                <!-- Column for "Quotation To" details -->
                                <div class="col-md-6">
                                    <h3>Quotation To</h3>

                                    <label for="companyName">Company Name </label>
                                    <input id="companyName" name="companyName" type="text" class="required form-control" />

                                    <label for="preparedFor">Prepared For </label>
                                    <input id="preparedFor" name="preparedFor" type="text" class="required form-control" />

                                    <label for="contactTo">Contact </label>
                                    <input id="contactTo" name="contactTo" type="number" class="required form-control" />

                                    <label for="emailTo">Email </label>
                                    <input id="emailTo" name="emailTo" type="email" class="required email form-control" />
                                </div>
                            </div>





                            <button type="button" class="btn btn-primary" onclick="nextStep(1)" style="margin-top:20px">Next</button>
                        </form>





                        <form id="form-step-2" class="mt-5" style="display:none">
                            <div class="row">
                                <!-- Column for "About Us" and "Methodology" -->
                                <div class="col-md-6">
                                    <h3>About Us</h3>
                                    <textarea id="aboutUs" name="aboutUs" class="form-control" rows="5">@Model.Item1[0].CAboutUs</textarea>

                                    <h3>Methodology</h3>
                                    <textarea id="methodology" name="methodology" class="form-control" rows="5" readonly>@Model.Item1[0].CMethodology</textarea>
                                </div>

                                <!-- Column for "About Pioneer" and "Expectation" -->
                                <div class="col-md-6">

                                    <h3>Expectation </h3>
                                    <textarea id="expectation" name="expectation" class="required form-control" rows="5"></textarea>
                                </div>
                            </div>

                            <button type="button" class="btn btn-secondary" onclick="prevStep(2)">Previous</button>
                            <button type="button" class="btn btn-primary" onclick="nextStep(2)">Next</button>
                        </form>



                        <form id="form-step-3" class="mt-5" style="display: none;">
                            <!-- Form for section 3 -->
                            <input type="hidden" id="servicesArray" name="servicesArray" />

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="service">Service </label>
                                    <input id="service" name="service" type="text" class="required form-control" />

                                    <label for="description">Description </label>
                                    <textarea id="description" name="description" class="required form-control" rows="3"></textarea>

                                    <label for="oneTimeCharges">One Time Charges </label>
                                    <input id="oneTimeCharges" name="oneTimeCharges" type="number" class="required form-control" />

                                    <label for="halfYearlyCharges">Half-Yearly Charges </label>
                                    <input id="halfYearlyCharges" name="halfYearlyCharges" type="number" class="required form-control" />

                                    <label for="annualCharges">Annual Charges </label>
                                    <input id="annualCharges" name="annualCharges" type="number" class="required form-control" />

                                    <button type="button" class="btn btn-primary" onclick="addService()" style="margin-top:20px">Add</button>
                                </div>
                            </div>

                            <table class="table table-hover mt-5" id="servicesTable">
                                <thead>
                                    <tr>
                                        <th>Service</th>
                                        <th>Description</th>
                                        <th>One Time Charges</th>
                                        <th>Half-Yearly Charges</th>
                                        <th>Annual Charges</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Rows will be added here dynamically -->
                                </tbody>
                            </table>




                            <button type="button" class="btn btn-secondary" onclick="prevStep(3)">Previous</button>
                            <button type="button" class="btn btn-primary" onclick="nextStep(3)">Next</button>
                        </form>







                        <form id="form-step-4" class="mt-5" style="display: none;">
                            <!-- Form for section 4 -->


                            <label for="term1">Term 1 </label>
                            <input id="term1" name="terms[]" type="text" class="required form-control" />

                            <label for="term2">Term 2 </label>
                            <input id="term2" name="terms[]" type="text" class="required form-control" />

                            <label for="term3">Term 3 </label>
                            <input id="term3" name="terms[]" type="text" class="required form-control" />

                            <input type="checkbox" id="termsCheckbox" />

                            <label for="acceptTerms">I agree with the Terms and Conditions.</label>



                            <br />

                            <button type="button" class="btn btn-secondary" onclick="prevStep(4)">Previous</button>
                            <button type="button" class="btn btn-success" id="finishButton" disabled onclick="submitForm()">Finish</button>
                        </form>




                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include necessary JavaScript libraries -->
    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/admin/dist/js/waves.js"></script>
    <script src="~/admin/dist/js/sidebarmenu.js"></script>
    <script src="~/admin/dist/js/custom.min.js"></script>
    <script src="~/admin/dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/admin/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>

        $(document).ready(function () {
            $('#termsCheckbox').change(function () {
                if (this.checked) {
                    $('#finishButton').prop('disabled', false);
                } else {
                    $('#finishButton').prop('disabled', true);
                }
            });
        });


        var servicesArray = [];


        function nextStep(step) {
            // Hide current step form
            document.getElementById("form-step-" + step).style.display = "none";
            // Show next step form
            document.getElementById("form-step-" + (step + 1)).style.display = "block";
            // Highlight current step in navigation
            updateNavigation(step + 1);
            // Pass servicesArray to the next form as hidden input
            document.getElementById("servicesArray").value = JSON.stringify(servicesArray);

        }

        function prevStep(step) {
            // Hide current step form
            document.getElementById("form-step-" + step).style.display = "none";
            // Show previous step form
            document.getElementById("form-step-" + (step - 1)).style.display = "block";
            // Highlight current step in navigation
            updateNavigation(step - 1);
        }


        function submitForm() {
            // Gather form data
            var formData = {

                quotationBy: document.getElementById("quotationBy").value,
                preparedBy: document.getElementById("preparedBy").value,
                role: document.getElementById("role").value,
                contact: document.getElementById("contact").value,
                email: document.getElementById("email").value,
                companyName: document.getElementById("companyName").value,
                preparedFor: document.getElementById("preparedFor").value,
                contactTo: document.getElementById("contactTo").value,
                emailTo: document.getElementById("emailTo").value,



                aboutUs: document.getElementById("aboutUs").value,
                methodology: document.getElementById("methodology").value,
                expectation: document.getElementById("expectation").value,



                services: servicesArray,


                term1: document.getElementById("term1").value,
                term2: document.getElementById("term2").value,
                term3: document.getElementById("term3").value,

            };
            // You can perform additional validation here if needed

            // Send form data or do something else with it
            console.log(formData);
            // For example, you can send it to a backend endpoint using AJAX

            // After submitting, you can redirect or show a success message
            alert("Form submitted successfully!");


            // Convert formData to JSON
            var jsonData = JSON.stringify(formData);

            console.log(jsonData);
            // AJAX POST request to send data to the controller action
            $.ajax({
                type: "POST",
                url: "/Admin/GenerateQuotationPDF",
                contentType: "application/json",
                data: jsonData,
                success: function (response) {

                    console.log(response);
                    window.location.href = "/Admin/SendQuatationMail"
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error(xhr.responseText);
                }
            });
        }



        function goToStep(step) {
            // Hide all forms
            document.querySelectorAll('form[id^="form-step"]').forEach(form => {
                form.style.display = "none";
            });
            // Show selected step form
            document.getElementById("form-step-" + step).style.display = "block";
            // Highlight current step in navigation
            updateNavigation(step);
        }

        function updateNavigation(currentStep) {
            document.querySelectorAll('.step-item').forEach(item => {
                item.classList.remove('active');
            });
            document.getElementById('step-item-' + currentStep).classList.add('active');
            // Dim other steps
            for (var i = 1; i <= 4; i++) {
                if (i !== currentStep) {
                    document.getElementById('step-item-' + i).style.opacity = "0.5";
                } else {
                    document.getElementById('step-item-' + i).style.opacity = "1";
                }
            }
        }




        function addService() {
            // Get values from input fields
            var service = document.getElementById("service").value;
            var description = document.getElementById("description").value;
            var oneTimeCharges = document.getElementById("oneTimeCharges").value;
            var halfYearlyCharges = document.getElementById("halfYearlyCharges").value;
            var annualCharges = document.getElementById("annualCharges").value;

            // Push the service details into the array
            servicesArray.push({
                service: service,
                description: description,
                oneTimeCharges: oneTimeCharges,
                halfYearlyCharges: halfYearlyCharges,
                annualCharges: annualCharges
            });


            // Create a new row
            var row = document.createElement("tr");
            row.innerHTML = "<td>" + service + "</td><td>" + description + "</td><td>" + oneTimeCharges + "</td><td>" + halfYearlyCharges + "</td><td>" + annualCharges + "</td>";

            // Add the new row to the table
            document.getElementById("servicesTable").getElementsByTagName('tbody')[0].appendChild(row);

            // Create hidden input fields for each service property
            var form = document.getElementById("form-step-3");
            form.appendChild(createHiddenInput("services[]", service));
            form.appendChild(createHiddenInput("descriptions[]", description));
            form.appendChild(createHiddenInput("oneTimeCharges[]", oneTimeCharges));
            form.appendChild(createHiddenInput("halfYearlyCharges[]", halfYearlyCharges));
            form.appendChild(createHiddenInput("annualCharges[]", annualCharges));

            // Clear input fields
            document.getElementById("service").value = "";
            document.getElementById("description").value = "";
            document.getElementById("oneTimeCharges").value = "";
            document.getElementById("halfYearlyCharges").value = "";
            document.getElementById("annualCharges").value = "";
        }




        function createHiddenInput(name, value) {
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = name;
            input.value = value;
            return input;
        }

        // Basic Example with form
        var form = $("#example-form");
        form.validate({
            errorPlacement: function errorPlacement(error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password",
                },
            },
        });
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                alert("Submitted!");
            },
        });

    </script>

</body>
</html>
