@{
    Layout = null;
}

    @model Syrophage.Models.ViewModel.CouponsViewModel

<h2>User Details</h2>
<div>
    <p><strong>Name:</strong> @Model.User.Name</p>
    <p><strong>Email:</strong> @Model.User.Email</p>
    <!-- Add other user details as needed -->
</div>

<hr />

<h2>Coupons</h2>
<ul>
    @foreach (var coupon in Model.Coupons)
    {
        <li>@coupon.Name</li>
        <li>@coupon.CouponPicture</li>
        <li>@coupon.CouponPictureUrl</li>

    }
</ul>