@model List<Syrophage.Models.Product>



@{
    Layout = null;
}




<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <title>Admin Dashboard</title>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <link href="~/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.min.css" rel="stylesheet" />

    <link href="~/admin/assets/libs/datatables.net-bs4/css/datatables.bootstrap4.css" rel="stylesheet" />


    <script src="~/admin/assets/extra-libs/datatables/datatables.min.js"></script>



</head>
<body>



    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin5"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">


        <partial name="AdminNavbar" />




        <partial name="AdminSidebar" />






        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Manage Product</h4>
                        <div class="ms-auto text-end">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Products</h5>
                            </div>
                            <table class="table" id="manageOrderData">
                                <thead>
                                    <tr>
                                        <th scope="col">ProductName</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Company</th>
                                        <th scope="col">ProductImage</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>

                                            <td>@user.productname</td>
                                            <td>@user.Description</td>
                                            <td>@user.Category</td>
                                            <td>@user.Company</td>
                                            <td>
                                                <img src="@user.productImageUrl" height="70px" width="70px" />
                                            </td>
                                            <td>

                                                <a type="button" class="btn btn-primary" asp-action="EidtProduct" asp-controller="Admin" asp-route-id="@user.id"><i class="bi bi-pencil-fill"></i></a>

                                                <a type="button" class="btn btn-danger delete-btn" data-id="@user.id"><i class="bi bi-trash-fill"></i></a>
                                            </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    </div>




    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/admin/dist/js/waves.js"></script>
    <script src="~/admin/dist/js/sidebarmenu.js"></script>
    <script src="~/admin/dist/js/custom.min.js"></script>
    <script src="~/admin/dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="~/admin/assets/extra-libs/datatables/datatables.min.js"></script>
</body>
</html>


<script>

    $(document).ready(function () {
        $('#manageOrderData').DataTable();
    });








    document.querySelectorAll('.delete-btn').forEach(item => {
        item.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default action (i.e., navigating to the link)

            // Use SweetAlert to show a confirmation dialog
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this item!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        // If the user confirms deletion, get the ID and call the deleteProduct function
                        var productId = item.getAttribute('data-id');
                        deleteProduct(productId);
                    } else {
                        // If the user cancels, do nothing
                    }
                });
        });
    });

    function deleteProduct(id) {
        $.ajax({
            url: '/Admin/DeleteProduct',
            type: 'POST',
            data: { id: id },
            success: function (response) {
                if (response.success) {
                    $.ajax({
                        url: '/Admin/ManageProduct',
                        type: 'GET',
                        success: function (html) {
                            // Replace the current product data with the new product data
                            $('#manageOrderData').replaceWith(
                                $(html).find('#manageOrderData')
                            );
                        }
                    });
                } else {
                    // Handle error
                    console.error('Failed to delete product');
                }
            }
        });
    }

</script>
</script>

@if (TempData["Success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.success('@TempData["Success"]');
    </script>
}

@if (TempData["Error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.error('@TempData["Error"]');
    </script>
}