@model List<Syrophage.Models.Users>



@{
    Layout = null;
}




<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <title>Admin Dashboard</title>

    <link href="~/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.min.css" rel="stylesheet" />

    <link href="~/admin/assets/libs/datatables.net-bs4/css/datatables.bootstrap4.css" rel="stylesheet" />


    <link href="~/assets/css/flash.css" rel="stylesheet" />












</head>
<body>


    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin5"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">


        <partial name="AdminNavbar" />




        <partial name="AdminSidebar" />






        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Admin Dashboard</h4>
                        <div class="ms-auto text-end">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="userData">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-0">USERS</h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">RegId</th>
                                        <th scope="col">Is Active</th>
                                        <th scope="col">Profile Picture</th>
                                        <th scope="col">Assign Coupon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <th scope="row">@user.Id</th>
                                            <td>@user.Name</td>
                                            <td>@user.Email</td>
                                            <td>@user.Phone</td>
                                            <td>@user.Address</td>
                                            <td>@user.RegId</td>
                                            <td>@user.IsActivated</td>

                                            <td>
                                                <button data-activated="@(user.IsActivated ?? false)" onclick="toggleActivation(@user.Id, this)" class="btn btn-@(user.IsActivated == true ? "success" : "danger")">@(user.IsActivated == true ? "De-Activate" : "Activate")</button>
                                            </td>

                                            <td>
                                                <img src="@user.ProfileImageUrl" height="70px" width="70px" />
                                            </td>
                                          @*   <td>
                                                <form asp-action="AssignCouponToUser" asp-controller="Admin" method="post">
                                                    <input type="hidden" name="userId" value="@user.Id" />
                                                    <select name="couponId">
                                                        @foreach (var coupon in ViewBag.Coupons)
                                                        {
                                                            <option value="@coupon.Id">@coupon.Name</option>
                                                        }
                                                    </select>
                                                    <button type="submit">Assign Coupon</button>
                                                </form>
                                            </td> *@

                                            <td>
                                                <a asp-route-id="@user.Id" asp-action="AddCouponToUser" asp-controller="Admin">Add Coupon </a>
                                            </td>



                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>





    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/admin/dist/js/waves.js"></script>
    <script src="~/admin/dist/js/sidebarmenu.js"></script>
    <script src="~/admin/dist/js/custom.min.js"></script>
    <script src="~/admin/dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="~/admin/assets/extra-libs/datatables/datatables.min.js"></script>


    <script>
        function toggleActivation(id, button) {
            var isActivated = $(button).data('activated');
            $.ajax({
                url: '/Admin/ToggleActivation',
                type: 'POST',
                data: { id: id, isActivated: isActivated },
                success: function (response) {
                    if (response.success) {
                        var newIsActivated = !isActivated;
                        $(button).data('activated', newIsActivated);
                        $(button).text(newIsActivated ? "De-Activate" : "Activate");
                        $(button).removeClass('badge-success badge-danger');
                        $(button).addClass(newIsActivated ? 'badge-success' : 'badge-danger');

                        // Refresh the user data
                        $.ajax({
                            url: '/Admin/ViewUsers',
                            type: 'GET',
                            success: function (html) {
                                // Replace the current user data with the new user data
                                $('#userData').replaceWith(
                                    $(html).find('#userData')
                                );
                            }
                        });
                    } else {
                        // Handle error
                        console.error('Failed to toggle activation status');
                    }
                }
            });
        }

    </script>

</body>
</html>