@model List<Syrophage.Models.Token>



@{
    Layout = null;
}




<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <title>Admin Dashboard</title>




    <link href="~/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.min.css" rel="stylesheet" />

    <link href="~/admin/assets/libs/datatables.net-bs4/css/datatables.bootstrap4.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">




</head>
<body>



    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin5"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">


        <partial name="AdminNavbar" />




        <partial name="AdminSidebar" />






        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Admin Dashboard</h4>
                        <div class="ms-auto text-end">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Tokens</h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">RequestId</th>
                                        <th scope="col">RequestQuery</th>
                                        <th scope="col">RegId</th>
                                        <th scope="col">Date</th> 
                                        <th scope="col">Attachment 1</th>
                                        <th scope="col">Attachment 2</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>@user.Name</td>
                                            <td>@user.RequestId</td>
                                            <td>@user.RequestQuery</td>
                                            <td>@user.RegId</td>
                                            <td>@user.Date</td>

                                            @if(user.Attachment1Url == null){
                                                <td>
                                                    <a style="margin-left:35px;font-size:25px;color:red" target="_blank" href="@user.Attachment1Url" class="bi bi-x-circle-fill">
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <a style="margin-left:35px;font-size:25px;" target="_blank" href="@user.Attachment1Url" class="bi bi-file-earmark-arrow-down-fill">
                                                </td>
                                            }
                                            @if (user.Attachment2Url == null)
                                            {
                                                <td>
                                                    <a style="margin-left:35px;font-size:25px;color:red" target="_blank" href="@user.Attachment2Url" class="bi bi-x-circle-fill">
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <a style="margin-left:35px;font-size:25px" target="_blank" href="@user.Attachment2Url" class="bi bi-file-earmark-arrow-down-fill">
                                                </td>
                                            }

                                            <td>@user.Status</td>

                                            <td>

                                                <a type="button" class="btn btn-primary" asp-action="EditToken" asp-controller="Admin" asp-route-id="@user.Id"><i class="bi bi-pencil-fill"></i></a>
                                              
                                            </td>

                                        

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    </div>




    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/admin/dist/js/waves.js"></script>
    <script src="~/admin/dist/js/sidebarmenu.js"></script>
    <script src="~/admin/dist/js/custom.min.js"></script>
    <script src="~/admin/dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="~/admin/assets/extra-libs/datatables/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>