@model List<Syrophage.Models.Coupon>

<link href="~/css/site.css" rel="stylesheet" />


<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>


<section class="bg-half" id="SignUp">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="page-next-level text-white">
                            <h4 class="text-uppercase">
                                <h4 class="text-uppercase">Available Coupons for @Context.Session.GetString("UserName")</h4>
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section">
    <div class="container">
        <div class="row">
            @foreach (var coupon in Model)
            {
                <div class="col-md-4">
                    
                    <article class="post blog-post">
                        <div class="post-preview">
                            <a href="#"><img src="@coupon.CouponPictureUrl" alt="" class="img-fluid mx-auto d-block" style="width:70px; height:70px"></a>
                        </div>

                        <div class="post-header">
                            <h4 class="post-title"><a href="#">@coupon.Name</a></h4>
                            <ul class="post-meta">
                                <li>
                                    <i class="mdi mdi-calendar"></i> <small>@(coupon.ExpiryDate.ToString("MMM dd, yyyy"))</small>
                                </li>
                                <li>
                                    <i class="mdi mdi-tag-text-outline"></i>
                                    <a href="#"> <small>Discount: @coupon.Discount%</small></a>
                                </li>
                            </ul>

                            <div class="post-content">
                                <p class="text-muted">@coupon.CouponDescription  @coupon.MinimumAmount</p>
                            </div>

                            <span class="bar"></span>

                            <div class="post-footer">
                                <div class="coupon-code">
                                    <input type="password" value="@coupon.Code" id="couponCode-@coupon.Id" readonly class="form-control">
                                    <button class="btn btn-primary" onclick="toggleCouponCode(@coupon.Id)"  style="margin-top: 8px"  >Show Code</button>
                                    <button class="btn btn-success" onclick="copyCouponCode(@coupon.Id)" data-toggle="tooltip" title="Copied!" style="margin-top: 8px; margin-left:20px">Copy Code</button>
                                </div>
                            </div>
                        </div>
                    </article>
                    
                </div>
            }
        </div>
    </div>
</section>






<script>
    function toggleCouponCode(couponId) {
        var input = document.getElementById('couponCode-' + couponId);
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }


    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'manual' });
    });

    function copyCouponCode(couponId) {
        var input = document.getElementById('couponCode-' + couponId);
        input.type = "text";
        input.select();
        document.execCommand("copy");
        input.type = "password";
        var button = $('[onclick="copyCouponCode(' + couponId + ')"]');
        button.tooltip('show');
        setTimeout(function () {
            button.tooltip('hide');
        }, 1000);
    }

</script>
