@model Syrophage.Models.Users






<link href="~/css/site.css" rel="stylesheet" />

<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>








<section class="bg-half" id="SignUp">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="page-next-level text-white">
                            <h4 class="text-uppercase">@Model.Name's Profile</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="display:block;justify-content:center; margin:100px">
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-action="TokenGenerate" asp-controller="User">Generate New Tokens</a>


                <a class="dropdown-item" type="button" asp-action="TokenGenerate" asp-controller="User">Submitted Tokens</a>

                <a class="dropdown-item" type="button" asp-action="Orders" asp-controller="User">Order</a>

                <a class="dropdown-item" type="button" asp-action="Coupons" asp-controller="User">Copuns</a>

                <a class="dropdown-item" type="button" asp-action="Logout" asp-controller="Login">Logout</a>
            </div>
        </div>
        <div class="mt-5">
            <h4>Profile Details</h4>
            <span class="bar"></span>

            <div class="mt-4">
                <div class="custom-form">
                    <form method="post" asp-action="updateUser" asp-controller="User" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group app-label">
                                    <label>Name</label>
                                    <input asp-for="Name" id="name2" type="text" class="form-control bg-grey" placeholder="@Model.Name" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group app-label">
                                    <label>RegId</label>
                                    <input asp-for="RegId" id="email2" type="email" class="form-control bg-grey" placeholder="@Model.RegId" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group app-label">
                                    <label>Phone</label>
                                    <input asp-for="Phone" id="email2" type="number" class="form-control bg-grey" placeholder="@Model.Phone">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group app-label">
                                    <label>Email</label>
                                    <input asp-for="Email" id="email2" type="email" class="form-control bg-grey" placeholder="@Model.Email">
                                </div>
                            </div>

                            <div class="col-lg-6" hidden>
                                <div class="form-group app-label">
                                    <label>Email</label>
                                    <input asp-for="Id" id="email2" type="number" class="form-control bg-grey" placeholder="@Model.Id">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label>Address</label>
                                    <textarea asp-for="Address" id="comments2" rows="3" class="form-control bg-grey" placeholder="Enter message :"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label>Profile Photo</label>
                                    <input for="formFile" type="file" name="file" id="upload" class="account-file-input" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <input type="submit" id="submit2" name="send" class="submitBnt btn btn-custom" value="Update">
                                <div style="margin:10px"></div>
                                <input type="reset" id="submit2" name="send" class="submitBnt btn btn-custom" value="Cancel">
                            </div>
                        </div>
                    </form>
                </div>
            </div>


           

        </div>
    </div>
</section>





<partial name="_Toastr" />
